@CHARSET "ISO-8859-1";
body {
    background-repeat: no-repeat;
    background-size: cover;
}

.logo img {
    float: left;
    width: 300px;
    height: auto;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 30px;
}

.healthlogo img {
    margin-top: 10px;
    float: right;
    width: 70px;
    height: auto;
    margin-right: 30px;
}

h3 {
    text-align: center;
    margin: 24px 0 12px 0;
}

.container {
    padding: 16px;
}